@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <section class="personalia">

        <img class="person-logo" src="images/person-pasfoto.png">
        <h1 class="person-name">Senna Houter</h1>

    </section>

    <section class="profile">

        <section class="profile-content">

            <div class="profile-content__category--hidden-mobile">
                <h3 class="profile-content__category-title">Profiel</h3>
                <hr>
            </div>

            <div class="profile-content__element--hidden-mobile">
                <div class="profile-content__element-header">
                </div>
                <p class="profile-content__description">
                    H
                <p>
            </div>


            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Opleidingen</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">HAVO</h4>
                    <p class="profile-content__period">nov 2017 - jul 2023</p>
                </div>
                <p class="profile-content__institute">Carmel college salland, Raalte</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">HBO-ICT</h4>
                    <p class="profile-content__period">nov 2023 - nu</p>
                </div>
                <p class="profile-content__institute">Windesheim, Zwolle</p>
            </div>


            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Werkervaring</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Krantenbezorger</h4>
                    <p class="profile-content__period">mar 2019 - jul 2021</p>
                </div>
                <p class="profile-content__institute">All-inn verspreidingen, Raalte</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Magazijnmedewerker</h4>
                    <p class="profile-content__period">jul 2021 - jul 2023</p>
                </div>
                <p class="profile-content__institute">Azerty, Raalte</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Elektricien</h4>
                    <p class="profile-content__period">aug 2023 - nu</p>
                </div>
                <p class="profile-content__institute">Bepacom, Raalte</p>
            </div>

        </section>

    </section>
</div>
